/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.demo-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    flex-shrink: 0;
}

.demo-main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
    padding-left: 40px;
}

.demo-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.demo-content h3 {
    margin-top: 48px;
}

.demo-footer {
    padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

body{
    background-color: #f8f8f8;
}
#acionarMenu{
    padding: 5px;
    width: 30px;
    margin: 5px 0px 0 10px;
    float: left;
}
#acionarMenu a{
    color: #fff;
    font-size: 20px;
}
#acionarMenu a:hover{
    /*color: #bc0075;*/
}
#acionarMenu a{

}
.fundoCinza{
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding:25px;
    margin-top: 50px;
    min-height: 400px;
}

.menuPreto{
    background-color: #700194;
    /*border-color: #e7e7e7;*/
}

#navbar{
    margin-top: 7px !important;
}

#NomeTropa{
    font-size: 16px;
    padding: 15px 0px;
    margin-left: 0px;
}

#containerBusca button{
    background: #A300D8;
    border-color: #A300D8;
    color: #700194;
    transition: background 1s, color 1s;
}
#campoBusca{
    background: #A300D8;
    border: none;
    transition: background 1s, color 1s;
}
#containerBusca #campoBusca:focus button{
    background: red;
}
#campoBusca:focus{
    -webkit-transition: background 1s, color 1s;
    transition: background 1s, color 1s;
    background: #fff;
    color: #3c3c3c;
}


.teste{
    background: #d32f2f;
}

.containerMenuLateral{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-right: 1px solid rgb(224,224,224);
    background: rgb(250,250,250);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    color: rgb(66,66,66);
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}
.containerMenuLateral.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.containerMenuLateral .menuLateral {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    padding-top: 16px;
}
.containerMenuLateral .menuLateral .linkMenuLateral {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 17px 40px;
    margin: 0;
    color: #757575;
}

.mdl-layout__obfuscator {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mdl-layout__obfuscator.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    position: fixed;
}